openapi: 3.1.0
info:
  title: ANWB Energie API
  version: 1.2.0
  description: >
    Unofficial OpenAPI map for the undocumented APIs used by ANWB Energie.
    The Home Assistant integration currently uses OAuth 2.0 PKCE, exchanges the
    resulting ANWB access token for a Kraken bearer token, reads account metadata
    through Kraken GraphQL, reads consumption/production through the ANWB Energy
    Services account cache endpoints, and reads dynamic tariffs from public ANWB
    tariff endpoints.

    This specification is based on the integration code, authenticated probes
    performed on 2026-06-15 and 2026-06-17, and an unauthenticated tariff-range
    probe performed on 2026-07-23. Customer account and consumption responses
    still require a valid user token and their full schema should be treated as
    partially inferred.
servers:
  - url: https://api.anwb.nl
    description: ANWB Energy Services API

tags:
  - name: Authentication
  - name: Account
  - name: Consumption
  - name: Prices
  - name: Legacy

x-anwb-verification:
  checked_at: "2026-07-23"
  notes:
    - Public tariff endpoints returned HTTP 200 without an Authorization header.
    - A 2026-07-23 follow-up found that v2 tariff endpoints return multi-day DAY ranges, while multi-day HOUR ranges return HTTP 500.
    - Account cache and legacy account endpoints returned HTTP 401 without an Authorization header.
    - Kraken GraphQL allows introspection without Authorization, but viewer/customer data requires Authorization.
    - Authenticated kraken-token returned HTTP 201 with accessToken and expiresIn.
    - Authenticated account cache responses include interval, unit, startDate, endDate, hasGap, usage, vasteKosten, and variabeleKosten.
    - Authenticated account cache HOUR and MONTH responses observed unit values kWh for electricity/production and m3 for gas.
    - Authenticated electricity/production cache rows observed non-zero usage with hasGap true; hasGap should not be treated as "ignore this row" without further evidence.
    - Authenticated electricity/production cache rows observed on 2026-06-15 returned variabeleKosten and vasteKosten fields, but all cost components were zero for both HOUR and MONTH rows, including rows/months with material non-zero usage. Tariff endpoints produced non-zero cost calculations for the same hours.
    - Follow-up authenticated probe on 2026-06-17 checked yesterday, last week, previous month, closed current-year months, and previous calendar-year rows across HOUR, DAY, and MONTH intervals where supported. All variabeleKosten.total and vasteKosten.total values were zero, including non-zero electricity/production usage windows. This argues against simple delayed backfill or DAY/MONTH-only population for the verified account.
    - Do not treat cache cost fields as authoritative billing values without re-verifying non-zero values and their unit/accounting semantics.
    - Authenticated gas cache returned HTTP 200 with an empty data array for an account without gas.
    - Authenticated legacy bills returned HTTP 200 for the verified account; legacy payments returned HTTP 500.
    - Kraken GraphQL SupplyPointType.readings requires readingType ReadingTypes; observed enum values are INTERVAL, ACCUMULATION, and PEAK.
    - /energy/energy-services/v2/tarieven/electricity-prices returned HTTP 404 and is intentionally omitted.

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: ANWB OAuth 2.0 / OpenID Connect authorization-code flow with PKCE.
      flows:
        authorizationCode:
          authorizationUrl: https://login.anwb.nl/49acae90-1d8b-46a5-943a-33da44624219/login/authorize
          tokenUrl: https://login.anwb.nl/49acae90-1d8b-46a5-943a-33da44624219/login/token
          scopes:
            openid: OpenID Connect
            profile: Profile information
            email: Email address
            offline_access: Refresh token access
    KrakenToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Kraken bearer token returned by
        /energy/energy-services/v1/auth/kraken-token. The integration sends this
        token to Kraken GraphQL and authenticated ANWB Energy Services endpoints.

  parameters:
    AccountNumber:
      in: path
      name: account_number
      required: true
      schema:
        type: string
      description: ANWB/Kraken account number, discovered via GraphQL viewer.accounts.
    StartDateTime:
      in: query
      name: startDate
      required: true
      schema:
        type: string
        format: date-time
      description: >
        Start value for the requested range. Account-cache endpoints use it as
        a timestamp boundary. The v2 tariff endpoints instead interpret a
        `00:00:00.000Z` value as a Europe/Amsterdam calendar-day label; it is
        not a literal UTC boundary.
    EndDateTime:
      in: query
      name: endDate
      required: true
      schema:
        type: string
        format: date-time
      description: >
        End value for the requested range. Account-cache endpoints use it as a
        timestamp boundary. The v2 tariff endpoints interpret the date as a
        Europe/Amsterdam calendar-day label. Observed DAY responses omit the
        start label, so callers that need that day include one leading label.
    ContractStartDate:
      in: query
      name: contractStartDate
      required: true
      schema:
        type: string
        format: date-time
      description: Contract start timestamp used by account cache aggregation.
    CacheInterval:
      in: query
      name: interval
      required: true
      schema:
        type: string
        enum:
          - HOUR
          - DAY
          - MONTH
          - YEAR
      description: >
        ANWB account-cache aggregation interval. The integration uses HOUR for
        month-to-date usage and the current-month part of year-to-date cost
        estimates, DAY for the completed-prior-month part of year-to-date cost
        estimates, and MONTH for authoritative year-to-date usage and
        reconciliation.
    TariffInterval:
      in: query
      name: interval
      required: true
      schema:
        type: string
        enum:
          - HOUR
          - DAY
      description: >
        Tariff aggregation interval. HOUR returns hourly electricity and gas
        data for a single-day range. Complete closed-local-day HOUR tariff sets
        are persisted in the integration-local tariff cache for month-to-date
        estimates, while the current day and tomorrow remain refreshable. DAY
        returned multi-day data during the 2026-07-23 verification. Finite DAY
        points are persisted individually for year-to-date estimates, which
        remain unavailable until every non-zero usage day has a tariff.

  schemas:
    ErrorResponse:
      type: object
      additionalProperties: true
      properties:
        message:
          type: string
        statusCode:
          type: integer
        request_id:
          type: string

    OpenIdConfiguration:
      type: object
      additionalProperties: true
      properties:
        issuer:
          type: string
          format: uri
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
        introspection_endpoint:
          type: string
          format: uri
        revocation_endpoint:
          type: string
          format: uri
        userinfo_endpoint:
          type: string
          format: uri
        jwks_uri:
          type: string
          format: uri

    OAuthTokenResponse:
      type: object
      additionalProperties: true
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        id_token:
          type: string
        token_type:
          type: string
        scope:
          type: string
        expires_in:
          type: integer

    KrakenTokenResponse:
      type: object
      additionalProperties: true
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          description: Bearer token for Kraken GraphQL and ANWB Energy Services.
        expiresIn:
          type: integer
          description: Kraken token lifetime in seconds.

    GraphQLRequest:
      type: object
      required:
        - query
      additionalProperties: true
      properties:
        query:
          type: string
        variables:
          type: object
          additionalProperties: true

    GraphQLResponse:
      type: object
      additionalProperties: true
      properties:
        data:
          type:
            - object
            - "null"
          additionalProperties: true
        errors:
          type: array
          items:
            type: object
            additionalProperties: true

    TariffValues:
      type: object
      additionalProperties: true
      properties:
        marktprijs:
          type: number
          description: Market price in euro cents.
        allInPrijs:
          type: number
          description: All-in price including taxes, in euro cents.

    TariffPoint:
      type: object
      additionalProperties: true
      properties:
        date:
          type: string
          format: date-time
        values:
          $ref: "#/components/schemas/TariffValues"

    TariffResponse:
      type: object
      additionalProperties: true
      properties:
        interval:
          type: string
          enum:
            - HOUR
            - DAY
        data:
          type: array
          items:
            $ref: "#/components/schemas/TariffPoint"

    FixedCosts:
      type: object
      description: >
        Fixed-cost fields returned inside account cache rows. These fields were
        present during authenticated verification, but observed as zero for HOUR
        and MONTH electricity/production rows with non-zero usage. Consumers
        should not rely on these as authoritative billing values unless future
        verification proves they are populated for the target account/contract.
      additionalProperties: true
      properties:
        abonnementsKosten:
          type: number
        netbeheerKosten:
          type: number
        verminderingEnergieBelasting:
          type: number
        total:
          type: number

    VariableCosts:
      type: object
      description: >
        Variable-cost fields returned inside account cache rows. These fields
        were present during authenticated verification, but observed as zero for
        HOUR and MONTH electricity/production rows with non-zero usage. The Home
        Assistant integration therefore computes variable costs from the public
        tariff endpoints, using HOUR for the current month and DAY for completed
        prior months, instead of using variabeleKosten.total.
      additionalProperties: true
      properties:
        dynamischeKosten:
          type: number
        energieBelasting1:
          type: number
        energieBelasting2:
          type: number
        energieBelasting3:
          type: number
        inkoopKosten:
          type: number
        total:
          type: number

    UsageCacheEntry:
      type: object
      additionalProperties: true
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        hasGap:
          type: boolean
          description: >
            Gap marker returned by the cache endpoint. Verified rows with
            non-zero usage also had hasGap true, so this should not by itself be
            interpreted as "discard this sample".
        usage:
          type: number
        vasteKosten:
          $ref: "#/components/schemas/FixedCosts"
        variabeleKosten:
          $ref: "#/components/schemas/VariableCosts"

    UsageCacheResponse:
      type: object
      additionalProperties: true
      properties:
        interval:
          type: string
          enum:
            - HOUR
            - DAY
            - MONTH
            - YEAR
        unit:
          type: string
          description: Observed values include kWh for electricity/production and m3 for gas.
        data:
          type: array
          items:
            $ref: "#/components/schemas/UsageCacheEntry"

    LegacyBill:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        identifier:
          type: string
        issuedDate:
          type: string
          format: date-time
        grossAmount:
          type: number
        pdfUrl:
          type: string
          format: uri

    LegacyBillsResponse:
      type: object
      additionalProperties: true
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/LegacyBill"

paths:
  /49acae90-1d8b-46a5-943a-33da44624219/login/.well-known/openid-configuration:
    get:
      servers:
        - url: https://login.anwb.nl
      summary: OpenID Connect discovery
      tags:
        - Authentication
      security: []
      responses:
        "200":
          description: OpenID Connect provider metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenIdConfiguration"

  /49acae90-1d8b-46a5-943a-33da44624219/login/authorize:
    get:
      servers:
        - url: https://login.anwb.nl
      summary: OAuth 2.0 authorization endpoint
      tags:
        - Authentication
      security: []
      parameters:
        - in: query
          name: client_id
          required: true
          schema:
            type: string
        - in: query
          name: redirect_uri
          required: true
          schema:
            type: string
            format: uri
        - in: query
          name: response_type
          required: true
          schema:
            type: string
            enum:
              - code
        - in: query
          name: scope
          required: true
          schema:
            type: string
        - in: query
          name: code_challenge
          required: true
          schema:
            type: string
        - in: query
          name: code_challenge_method
          required: true
          schema:
            type: string
            enum:
              - S256
        - in: query
          name: prompt
          schema:
            type: string
      responses:
        "302":
          description: Redirect to login and authorization flow.

  /49acae90-1d8b-46a5-943a-33da44624219/login/token:
    post:
      servers:
        - url: https://login.anwb.nl
      summary: OAuth 2.0 token endpoint
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
              properties:
                client_id:
                  type: string
                grant_type:
                  type: string
                  enum:
                    - authorization_code
                    - refresh_token
                code:
                  type: string
                redirect_uri:
                  type: string
                  format: uri
                code_verifier:
                  type: string
                refresh_token:
                  type: string
      responses:
        "200":
          description: OAuth token response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"

  /energy/energy-services/v1/auth/kraken-token:
    post:
      summary: Exchange ANWB OAuth token for Kraken token
      description: >
        Exchanges an ANWB OAuth access token for a Kraken access token. A request
        without Authorization returned HTTP 401 during verification.
      tags:
        - Authentication
      security:
        - OAuth2:
            - openid
            - profile
            - email
            - offline_access
      responses:
        "201":
          description: Kraken token response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KrakenTokenResponse"
        "401":
          description: Missing or invalid ANWB OAuth token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/graphql/:
    post:
      servers:
        - url: https://api.anwb-kraken.energy
      summary: Kraken GraphQL endpoint
      description: >
        Main Kraken GraphQL endpoint. Introspection works without Authorization,
        but viewer/account/supply data requires a Kraken bearer token.
      tags:
        - Account
      security:
        - KrakenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GraphQLRequest"
            examples:
              AccountInfo:
                summary: Account number and property address used by the integration
                value:
                  query: |
                    {
                      viewer {
                        accounts {
                          number
                          ... on AccountType {
                            properties {
                              address
                            }
                          }
                        }
                      }
                    }
                  variables: {}
              SupplyPointReadings:
                summary: Kraken supply point readings query shape
                value:
                  query: |
                    query Readings($externalIdentifier: String!, $marketName: String!, $startAt: DateTime!, $endAt: DateTime!) {
                      supplyPoint(externalIdentifier: $externalIdentifier, marketName: $marketName) {
                        externalIdentifier
                        marketName
                        readings(startAt: $startAt, endAt: $endAt, readingType: INTERVAL, timeGranularity: HOUR, units: [KILOWATT_HOURS]) {
                          importReadings {
                            edges {
                              node {
                                __typename
                              }
                            }
                          }
                        }
                      }
                    }
                  variables:
                    externalIdentifier: "EAN_OR_METER_POINT"
                    marketName: "ELECTRICITY"
                    startAt: "2026-06-01T00:00:00+02:00"
                    endAt: "2026-06-02T00:00:00+02:00"
      responses:
        "200":
          description: GraphQL response. Authorization errors are returned as GraphQL errors with HTTP 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GraphQLResponse"

  /energy/energy-services/v1/accounts/{account_number}/electricity/cache:
    get:
      summary: Electricity import cache
      description: >
        Historical electricity consumption/import values for an account. The
        integration queries HOUR for month-to-date usage and the current-month
        part of year-to-date costs, DAY for the completed-prior-month part of
        year-to-date costs, and MONTH for authoritative year-to-date usage and
        reconciliation.
      tags:
        - Consumption
      security:
        - KrakenToken: []
      parameters:
        - $ref: "#/components/parameters/AccountNumber"
        - $ref: "#/components/parameters/StartDateTime"
        - $ref: "#/components/parameters/EndDateTime"
        - $ref: "#/components/parameters/ContractStartDate"
        - $ref: "#/components/parameters/CacheInterval"
      responses:
        "200":
          description: Electricity import cache data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageCacheResponse"
        "401":
          description: Missing or invalid Kraken token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /energy/energy-services/v1/accounts/{account_number}/production/cache:
    get:
      summary: Electricity export/production cache
      description: >
        Historical electricity production/export values for an account. The
        integration queries HOUR for month-to-date usage and the current-month
        part of year-to-date costs, DAY for the completed-prior-month part of
        year-to-date costs, and MONTH for authoritative year-to-date usage and
        reconciliation.
      tags:
        - Consumption
      security:
        - KrakenToken: []
      parameters:
        - $ref: "#/components/parameters/AccountNumber"
        - $ref: "#/components/parameters/StartDateTime"
        - $ref: "#/components/parameters/EndDateTime"
        - $ref: "#/components/parameters/ContractStartDate"
        - $ref: "#/components/parameters/CacheInterval"
      responses:
        "200":
          description: Electricity export/production cache data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageCacheResponse"
        "401":
          description: Missing or invalid Kraken token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /energy/energy-services/v1/accounts/{account_number}/gas/cache:
    get:
      summary: Gas consumption cache
      description: >
        Historical gas consumption values for an account. The integration queries
        HOUR for month-to-date usage and the current-month part of year-to-date
        costs, DAY for the completed-prior-month part of year-to-date costs, and
        MONTH for authoritative year-to-date usage and reconciliation. During
        authenticated verification, an account without gas returned HTTP 200
        with an empty data array. The integration also treats 404 as an empty
        response.
      tags:
        - Consumption
      security:
        - KrakenToken: []
      parameters:
        - $ref: "#/components/parameters/AccountNumber"
        - $ref: "#/components/parameters/StartDateTime"
        - $ref: "#/components/parameters/EndDateTime"
        - $ref: "#/components/parameters/ContractStartDate"
        - $ref: "#/components/parameters/CacheInterval"
      responses:
        "200":
          description: Gas cache data. Accounts without gas may return an empty data array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageCacheResponse"
        "401":
          description: Missing or invalid Kraken token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: No gas data for this account.

  /energy/energy-services/v2/tarieven/electricity:
    get:
      summary: Dynamic electricity tariffs
      description: >
        Public dynamic electricity tariff endpoint. The integration queries this
        endpoint with interval=HOUR and divides allInPrijs by 100 to expose the
        all-in EUR/kWh price. It also divides marktprijs by 100 to expose the
        bare market EUR/kWh price. For cost estimates, complete closed-local-day
        HOUR tariffs are persisted in the integration-local tariff cache and
        reused by month-to-date calculations, while open-day HOUR tariffs remain
        refreshable. Year-to-date estimates reuse that current-month calculation
        and add individually persisted finite DAY tariffs for completed prior
        months. Every non-zero usage day still requires a matching tariff;
        January is HOUR-only. DAY is used because multi-day HOUR ranges return
        HTTP 500.
      tags:
        - Prices
      security: []
      parameters:
        - $ref: "#/components/parameters/StartDateTime"
        - $ref: "#/components/parameters/EndDateTime"
        - $ref: "#/components/parameters/TariffInterval"
      responses:
        "200":
          description: Electricity tariff data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TariffResponse"

  /energy/energy-services/v2/tarieven/gas:
    get:
      summary: Dynamic gas tariffs
      description: >
        Public dynamic gas tariff endpoint. The integration queries this endpoint
        with interval=HOUR and divides allInPrijs by 100 to expose EUR/m³. During
        verification, interval=HOUR returned hourly-expanded values. For cost
        estimates, complete closed-local-day HOUR tariffs are persisted in the
        integration-local tariff cache and reused by month-to-date calculations,
        while open-day HOUR tariffs remain refreshable. Year-to-date estimates
        reuse that current-month calculation and add individually persisted
        finite DAY tariffs for completed prior months. Every non-zero usage day
        still requires a matching tariff; January is HOUR-only. DAY is used
        because multi-day HOUR ranges return HTTP 500.
      tags:
        - Prices
      security: []
      parameters:
        - $ref: "#/components/parameters/StartDateTime"
        - $ref: "#/components/parameters/EndDateTime"
        - $ref: "#/components/parameters/TariffInterval"
      responses:
        "200":
          description: Gas tariff data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TariffResponse"

  /energy/energy-services/v0/tarieven/electricity/actueel:
    get:
      summary: Current electricity tariff series
      description: >
        Public legacy tariff endpoint. Despite the "actueel" name, it returned a
        HOUR tariff series during verification.
      tags:
        - Prices
        - Legacy
      security: []
      responses:
        "200":
          description: Electricity tariff series.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TariffResponse"

  /energy/energy-services/v0/tarieven/gas/actueel:
    get:
      summary: Current gas tariff
      description: Public legacy tariff endpoint. It returned one DAY tariff point during verification.
      tags:
        - Prices
        - Legacy
      security: []
      responses:
        "200":
          description: Current gas tariff.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TariffResponse"

  /energy/energy-services/v0/accounts/{account_number}/bills:
    get:
      summary: Historical bills
      description: >
        Legacy account endpoint. It returned HTTP 401 without Authorization during
        verification and is not used by the current Home Assistant integration.
      tags:
        - Account
        - Legacy
      security:
        - KrakenToken: []
      parameters:
        - $ref: "#/components/parameters/AccountNumber"
      responses:
        "200":
          description: Bill list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegacyBillsResponse"
        "401":
          description: Missing or invalid Kraken token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /energy/energy-services/v0/accounts/{account_number}/payments:
    get:
      summary: Account payments
      description: >
        Legacy account endpoint. It returned HTTP 401 without Authorization during
        verification and HTTP 500 for the authenticated account used during
        verification. It is not used by the current Home Assistant integration.
      tags:
        - Account
        - Legacy
      security:
        - KrakenToken: []
      parameters:
        - $ref: "#/components/parameters/AccountNumber"
      responses:
        "200":
          description: Payment list.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Missing or invalid Kraken token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error observed during authenticated verification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
